Repository Patelzil/E-Book-Hub, pull requests merged in 2022-04, with the labels that each got.

#124 (#131) - docker deployment for continuous deployment
  .github/workflows/deploy.yml
  .github/workflows/node.js.yml
  Backend/Dockerfile
  Dockerfile
  frontend/Dockerfile
Labels: High Priority, High Risk, Pull Request, Developer

#132 Book club backend
  Backend/Controller/bookclubController.js
  Backend/Controller/purchaseController.js
  Backend/app.js
  Backend/models/bookClubModel.js
  Backend/models/boughtBookModel.js
  Backend/models/userModel.js
  Backend/routes/bookclubRoutes.js
  Backend/routes/buyRoutes.js
Labels: High Priority, High Risk, Pull Request, Backend

#134 Bookclub chat fix
  Backend/Controller/bookclubController 2.js
  Backend/Controller/purchaseController 2.js
  Backend/__test__/books/books.test.js
  Backend/app.js
  Backend/models/bookClubModel 2.js
  Backend/models/boughtBookModel 2.js
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/bookclubRoutes 2.js
  Backend/routes/buyRoutes 2.js
  Backend/server.js
  frontend/src/components/ChatRoom.component.js
  frontend/src/components/bookClubEventCard.component.js
  frontend/src/components/bookClubEvents.component.js
  frontend/src/components/chatActivity.component.js
  frontend/src/components/chatInfo.component.js
  frontend/src/components/home.component.js
  frontend/src/components/message.component.js
Labels: High Priority, front-end

#141 Book category
  Backend/__test__/integration/books/books.test.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/bookPage/bookHomepage.test.js
  frontend/src/actions/index.js
  frontend/src/components/ChatRoom.component.js
  frontend/src/components/bookCard.component.js
  frontend/src/components/bookCategory.js
  frontend/src/components/bookClubEvents.component.js
  frontend/src/components/bookClubs.component.js
  frontend/src/components/books.component.js
  frontend/src/components/chatActivity.component.js
  frontend/src/components/chatInfo.component.js
  frontend/src/components/login.component.js
  frontend/src/components/payment.component.js
  frontend/src/index.js
  frontend/src/reducers/index.js
  frontend/src/styles/styles.css
Labels: front-end

#144 (#47) - payment controller and .env files
  .vscode/settings.json
  Backend/Controller/purchaseController.js
  Backend/__test__/integration/books/bookclub.test.js
  Backend/__test__/integration/books/books.test.js
  Backend/__test__/integration/purchase/purchase.test.js
  Backend/__test__/integration/users/user.test.js
  Backend/__test__/unit/Controller/book.test.js
  Backend/__test__/unit/Controller/bookClub.test.js
  Backend/__test__/unit/Controller/purchase.test.js
  Backend/__test__/unit/Controller/user.test.js
  Backend/__test__/unit/models/bookClub.test.js
  Backend/__test__/unit/models/boughtBook.test.js
  Backend/__test__/unit/models/user.test.js
  Backend/config.env
  Backend/node_modules/.package-lock.json
  Backend/package-lock.json
  Backend/package.json
  Backend/routes/buyRoutes.js
  Backend/server.js
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/public/env.js
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/__test__/bookPage/bookHomepage.test.js
  frontend/src/assets/sample-book-lp.pdf
  frontend/src/components/bookCard.component.js
  frontend/src/components/login.component.js
  frontend/src/components/payment.component.js
  frontend/src/components/reader.component.js
  frontend/src/components/successfulpayment.component.js
  frontend/src/components/user.component.js
  frontend/src/index.js
Labels: Pull Request, Review, User Story, front-end, Backend

#145 Dev fix
  Backend/node_modules/.package-lock.json
  frontend/package-lock.json
  frontend/public/env.js
  frontend/src/components/ChatRoom.component.js
  frontend/src/components/bookClubEventCard.component.js
  frontend/src/components/homeUpdated.component.js
  frontend/src/components/searchBar.component.js
  frontend/src/components/searchPage.component.js
Labels: front-end

#147 Dev fix
  .github/workflows/frontend_testing.yml
  .github/workflows/node.js.yml
  Backend/Dockerfile
  Backend/node_modules/.package-lock.json
  Backend/package-lock.json
  Backend/package.json
  Documentation/DockerGuide.md
  Documentation/Meeting_Minutes.md
  README.md
  frontend/package-lock.json
Labels: Pull Request, Review, User Story, front-end, Backend
