Repository Patelzil/E-Book-Hub, pull requests merged in 2022-03, with the labels that each got.

#81 #80 fixed password wont show to the fornt end
  Backend/Controller/userController.js
  Backend/routes/userRoutes.js
Labels: Pull Request

#96 (#85) Added tests for the homepage, login and register
  frontend/src/__test__/homePage/homepage.test.js
  frontend/src/__test__/userRegister/Login/login.test.js
  frontend/src/__test__/userRegister/Register/register.test.js
  frontend/src/components/login.component.js
  frontend/src/components/loginnavbar.component.js
  frontend/src/components/navbar.component.js
  frontend/src/components/signup.component.js
  frontend/src/components/signupnavbar.component.js
  frontend/src/components/usersessionnavbar.component.js
Labels: High Priority, Pull Request, Review, front-end, Testing

#97 (#92) [TEST] Adding CI for frontend
  .github/workflows/frontend_testing.yml
Labels: Medium Priority, Medium Risk, Review, front-end, Testing

#98 #89 added complete book route and models
  Backend/Controller/bookController.js
  Backend/models/bookModel.js
  Backend/routes/bookRoutes.js
Labels: High Priority, High Risk, Pull Request

#99 (#90) Added the books component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/bookCard.component.js
  frontend/src/components/books.component.js
  frontend/src/components/home.component.js
  frontend/src/styles/styles.css
Labels: front-end

#102 (#82)-add-user-profile-where-user-would-be-able-to-edit-profile
  Backend/Controller/userController.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login.component.js
  frontend/src/components/userprofile.component.js
  frontend/src/components/usersessionnavbar.component.js
Labels: bug, Medium Priority, Pull Request, Core Feature, front-end

#107 #100 - updated front end home page to work with search
  Backend/Controller/bookController 2.js
  Backend/__test__/users/user.test 2.js
  Backend/models/userModel 2.js
  Backend/routes/userRoutes 2.js
  frontend/package-lock.json
  frontend/src/actions/index 2.js
  frontend/src/assets/login_page 2.svg
  frontend/src/components/SearchBar.js
  frontend/src/components/bookCard.component.js
  frontend/src/components/books.component.js
  frontend/src/components/home.component 2.js
  frontend/src/components/home.component.js
  frontend/src/components/user.component 2.js
  frontend/src/reducers/index 2.js
  frontend/src/styles/styles 2.css
  frontend/src/styles/styles.css
Labels: Core Feature, front-end

#106 (#84) Added class diagram for two core features
  Documentation/images/filteredSearch.jpg
  Documentation/images/searchQuery-eBook.jpg
  Documentation/images/sequence-searchBooks.png
  Documentation/images/sequence-searchBooks_default-Page-3.drawio.png
  Documentation/images/sequence-searchBooks_filtered.png
Labels: Medium Priority, Medium Risk, Diagram

#108 (#104) added tests for backend book controller
  Backend/.gitignore
  Backend/Controller/bookController.js
  Backend/Controller/userController.js
  Backend/__test__/books/books.test.js
  Backend/__test__/users/user.test.js
  Backend/coverage/clover.xml
  Backend/coverage/coverage-final.json
  Backend/coverage/lcov-report/Backend/Controller/bookController.js.html
  Backend/coverage/lcov-report/Backend/Controller/index.html
  Backend/coverage/lcov-report/Backend/Controller/userController.js.html
  Backend/coverage/lcov-report/Backend/app.js.html
  Backend/coverage/lcov-report/Backend/index.html
  Backend/coverage/lcov-report/Backend/models/bookModel.js.html
  Backend/coverage/lcov-report/Backend/models/index.html
  Backend/coverage/lcov-report/Backend/models/userModel.js.html
  Backend/coverage/lcov-report/Backend/routes/bookRoutes.js.html
  Backend/coverage/lcov-report/Backend/routes/index.html
  Backend/coverage/lcov-report/Backend/routes/userRoutes.js.html
  Backend/coverage/lcov-report/base.css
  Backend/coverage/lcov-report/block-navigation.js
  Backend/coverage/lcov-report/favicon.png
  Backend/coverage/lcov-report/index.html
  Backend/coverage/lcov-report/prettify.css
  Backend/coverage/lcov-report/prettify.js
  Backend/coverage/lcov-report/sort-arrow-sprite.png
  Backend/coverage/lcov-report/sorter.js
  Backend/coverage/lcov.info
  Backend/package.json
  frontend/package.json
  frontend/src/__test__/homePage/homepage.test.js
Labels: Medium Priority, Pull Request, Review, Developer, Backend

#112 Issue 89
  Backend/Controller/bookController.js
  Backend/models/bookModel.js
Labels: Pull Request

#113 (#105) added tests for user edit profile controller
  Backend/Controller/bookController.js
  Backend/Controller/userController.js
  Backend/__test__/books/books.test.js
  Backend/__test__/users/user.test.js
  Backend/coverage/clover.xml
  Backend/coverage/coverage-final.json
  Backend/coverage/lcov-report/Backend/Controller/bookController.js.html
  Backend/coverage/lcov-report/Backend/Controller/index.html
  Backend/coverage/lcov-report/Backend/Controller/userController.js.html
  Backend/coverage/lcov-report/Backend/app.js.html
  Backend/coverage/lcov-report/Backend/index.html
  Backend/coverage/lcov-report/Backend/models/bookModel.js.html
  Backend/coverage/lcov-report/Backend/models/index.html
  Backend/coverage/lcov-report/Backend/models/userModel.js.html
  Backend/coverage/lcov-report/Backend/routes/bookRoutes.js.html
  Backend/coverage/lcov-report/Backend/routes/index.html
  Backend/coverage/lcov-report/Backend/routes/userRoutes.js.html
  Backend/coverage/lcov-report/base.css
  Backend/coverage/lcov-report/block-navigation.js
  Backend/coverage/lcov-report/favicon.png
  Backend/coverage/lcov-report/index.html
  Backend/coverage/lcov-report/prettify.css
  Backend/coverage/lcov-report/prettify.js
  Backend/coverage/lcov-report/sort-arrow-sprite.png
  Backend/coverage/lcov-report/sorter.js
  Backend/coverage/lcov.info
  Backend/models/bookModel.js
  Backend/routes/userRoutes.js
Labels: Pull Request, Review

#110 (#109) Separated search page
  frontend/src/components/home.component.js
  frontend/src/components/login.component.js
  frontend/src/components/searchBar.component.js
  frontend/src/components/searchPage.component.js
Labels: front-end

#115 Issue#100-view-book-details-and-bugfix-search-by-title
  frontend/src/components/bookCard.component.js
  frontend/src/components/books.component.js
  frontend/src/styles/styles.css
Labels: bug, High Priority, High Risk, Pull Request, Core Feature, front-end

#116 (#114) - make-navbar-dynamic-across-website
  frontend/src/components/home.component.js
  frontend/src/components/login.component.js
  frontend/src/components/usersessionnavbar.component.js
Labels: bug, Medium Priority, Medium Risk, Pull Request, Developer, front-end

#117 (#103) input-validation-in-frontend
  Backend/__test__/users/user.test.js
  Backend/package.json
  frontend/src/components/login.component.js
  frontend/src/components/signup.component.js
  frontend/src/components/userprofile.component.js
Labels: High Priority, High Risk, Pull Request, Review, Developer, front-end

#118 #85 Frontendtest
  frontend/src/__test__/bookPage/bookHomepage.test.js
  frontend/src/__test__/userProfile/userProfile.test.js
  frontend/src/__test__/userRegister/Login/login.test.js
  frontend/src/__test__/userRegister/Register/register.test.js
  frontend/src/components/bookCard.component.js
  frontend/src/components/books.component.js
  frontend/src/components/loginnavbar.component.js
  frontend/src/components/navbar.component.js
  frontend/src/components/searchBar.component.js
  frontend/src/components/searchPage.component.js
  frontend/src/components/signup.component.js
  frontend/src/components/signupnavbar.component.js
  frontend/src/components/user.component.js
  frontend/src/components/userprofile.component.js
  frontend/src/components/usersessionnavbar.component.js
Labels: Pull Request

#120 Issue#119 -testing-plan-update-and-small-updates
  Documentation/Testing_Plan.md
  frontend/src/assets/user-profile.svg
  frontend/src/components/signup.component.js
  frontend/src/components/userprofile.component.js
  frontend/src/styles/styles.css
Labels: documentation, Low Priority, Pull Request, Testing

#122 #121 -bugfix-developer-book-details
  frontend/src/components/bookCard.component.js
Labels: Pull Request
